// Layout
.h-screen {
  height: 100vh;
}
.w-screen {
  width: 100vw;
}

// Positioning
.text-right {
  text-align: right;
}

// Misc
.link-no-style {
  color: inherit;
  text-decoration: none;
}

.white-link {
  color: white;
}
.white-link:hover {
  color: $primary;
}

.capitalize {
  text-transform: capitalize;
}

.capitalize-first {
  text-transform: lowercase;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}
